asgiref==3.9.1
certifi==2024.7.4
charset-normalizer==2.1.1
cloudinary==1.44.1
Django==4.2.22
django-anymail==8.6
django-embed-video==1.4.7
gunicorn==23.0.0
idna==3.4
packaging==25.0
pillow==11.3.0
psycopg2-binary==2.9.5
python-dotenv==1.0.0
requests==2.32.4
six==1.16.0
sqlparse==0.5.0
urllib3==2.5.0
